<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>

<header th:replace="~{/fragments/navigation}">
</header>

<div class="container-fluid">
    <main class="tm-main">

        <div th:replace="~{/fragments/search}">
        </div>

        <div class="row tm-row">
            <article class="col-12 col-md-6 tm-post">
            </article>
        </div>
    </main>
</div>
<footer th:replace="~{/fragments/footer}">
</footer>
</main>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/templatemo-script.js}"></script>

</body>
</html>